{% extends 'base.html.twig' %}


{% block body %}
    <section class="homepage-slider">
      <button class="btn slider__btn" type="button" aria-label="Précédent">&lt;</button>
      <button class="btn slider__btn" type="button" aria-label="Suivant">&gt;</button>
    </section>

{% include 'fragments/_section_banner.html.twig' with {
  title: 'Notre Histoire',
  paragraph: "Il était une fois, dans un marché du transport de marchandises en proie aux difficultés, les entreprises françaises luttaient pour maintenir leurs chiffres d'affaires et leurs bénéfices. Parmi elles, la société de transport lourd dirigée par M. Lakhal. Malgré des revenus décents, M. Lakhal voyait les défis croissants auxquels faisait face le secteur et comprit qu'une transformation radicale était nécessaire.
	Face à cette crise qui touchait de plein fouet le secteur, il ne pouvait rester inactif. Désireux de trouver un moyen de renverser la tendance et d'aider ses confrères transporteurs, il se lança dans une quête de solutions. Cependant, aucun outil existant ne répondait pleinement aux besoins de l'industrie. Il manquait des fonctionnalités essentielles pour optimiser la rentabilité et l'efficacité des entreprises de transport. C'est alors qu'un jour, l'inspiration le frappa. Il eut l'idée audacieuse de créer une toute nouvelle plateforme de bourse de fret.",
	button_link :'/history',
	button_text : ' en savoir plus'} %}


{% include 'fragments/_story_section.html.twig' with {
  image: 'assets/img/app.png',
  alt: 'fret-market-app',
  title: "Les fonctionnalités de l'application FretMarket",
  paragraph1: "Notre plateforme révolutionne la gestion du transport en offrant un suivi GPS en temps réel et une intégration avancée avec les plateformes de logistique, permettant ainsi de consulter instantanément les disponibilités.",
  paragraph2: "Grâce à un accès illimité à la recherche et au dépôt de fret, les transporteurs optimisent leur activité en toute simplicité.  La gestion des documents administratifs est centralisée, avec l’e-CMR et un système de facturation intégré pour fluidifier les transactions. L’automatisation est au cœur de notre solution : confirmation d’affrètement instantanée, notifications en temps réel des opportunités de fret à proximité et messagerie intégrée pour une communication rapide et efficace.			En complément, un accès aux appels d’offres nationaux et un annuaire des transporteurs enrichissent encore davantage les opportunités de collaboration."
} %}






{% include 'fragments/_offer_card_list.html.twig' with { abonnements: abonnements } %}
{% endblock %}


